<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Andzz | Rest Api</title>
  <link rel="stylesheet" href="vendors/typicons/typicons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="images/favicon.png" />
  <link href="all.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body onload="getvisitor();">
  <div class="row" id="proBanner">
    <div class="col-12">
    </div>
  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">

        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item dropdown mr-0">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="typcn typcn-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="typcn typcn-info mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Update</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>
              <div class="badge badge-danger">new</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#downloader-nya" aria-expanded="false" aria-controls="downloader-nya">
              <i class="typcn typcn-download menu-icon"></i>
              <span class="menu-title">Downloader</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="downloader-nya">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="api/downloader/fbdl?url=&apikey=apikeynya">Facebook</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/downloader/tiktok?url=">Tiktok</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/downloader/ttdl?url=https://www.tiktok.com/@flonie.09/video/7366460394786819346?is_from_webapp=1&sender_device=pc&apikey=apikeynya">Ttdl</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/downloader/ytdl?url=https://youtu.be/AaQ_XcEVTKs?si=XugIVGHR6lpP6oKI&apikey=apikeynya">Youtube Download</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/downloader/spotifydl?url=https://open.spotify.com/track/0RA9tn9qcAUJm9HOIKgvqQ?si=o2jCrIk6RUSjeTorIaw9_A&apikey=apikeynya">Spotify Dl</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/downloader/pindl?url=https://pin.it/7fdvCwpnq&apikey=apikeynya">Pinnterest Downloader</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#search-nya" aria-expanded="false" aria-controls="search-nya">
              <i class="typcn typcn-zoom-outline menu-icon"></i>
              <span class="menu-title">Search</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="search-nya">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="api/search/gimage?q=kucing&apikey=apikeynya">Gimage</a></li>
                <li class="nav-item"><a class="nav-link" href="api/search/jadwaltv?q=gtv&apikey=apikeynya">Jadwal Televisi</a></li>
                <li class="nav-item"><a class="nav-link" href="api/search/tts?q=freyajkt48&apikey=apikeynya">Tiktok Search</a></li>
                <li class="nav-item"><a class="nav-link" href="api/search/spotify?q=lamunan&apikey=apikeynya">Spotify Search</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#maker-nya" aria-expanded="false" aria-controls="maker-nya">
              <i class="typcn typcn-edit menu-icon"></i>
              <span class="menu-title">Maker</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="maker-nya">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="api/maker/attp?q=turusek&apikey=apikeynya">Attp</a></li>
                <li class="nav-item"> <a class="nav-link" href="api/maker/ttp?q=turusek&apikey=apikeynya">Ttp</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#textpro-nya" aria-expanded="false" aria-controls="textpro-nya">
              <i class="typcn typcn-brush menu-icon"></i>
              <span class="menu-title">Tool AI</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="textpro-nya">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="api/tool/gemini?q=hai&apikey=apikenya">Dalle</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

         

          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Ip Address</p>
                      <h6 class="mb-0" id="ip">00</h6>
                    </div>
                    <i class="typcn typcn-wi-fi icon-xl text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Total Visitor</p>
                      <h6 class="mb-0" id="visits">00</h6>
                    </div>
                    <i class="typcn typcn-eye-outline icon-xl text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Date</p>
                      <h6 class="mb-0" id="tanggal">00</h6>
                    </div>
                    <i class="typcn typcn-calendar-outline icon-xl text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Time & Ucapan</p>
                      <h6 class="mb-0" id="Clock">Loading...</h6>
                      <h6 class="mb-0" id="Ucapan">Loading...</h6>
                    </div>
                    <i class="typcn typcn-time icon-xl text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Battery</p>
                      <h6 class="mb-0" id="percentageLevel">Loading...</h6>
                      <h6 class="mb-0" id="batteryLevel"></h6>
                    </div>
                    <i class="typcn typcn-battery-charge icon-xl text-primary"></i>
                  </div>
                </div>
              </div>
            </div>

            
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a>Andzz</a></span>
                    </div>
                </div>    
            </div>        
        </footer>


      </div>
    </div>
  </div>

  <!-- base:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="js/off-canvas.js"></script>
  <script src="js/template.js"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/000.js"></script>
  <script src="js/001.js"></script>
  <script src="js/002.js"></script>
  <script src="js/003.js"></script>
  <script src="js/004.js"></script>
  <script src="js/005.js"></script>
</body>

</html>

